.navbar-brand {
    background:#30BBBB ;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}

body {
    background-color: grey;
}

p {
    text-align: justify;
    line-height: 1.5em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    line-height: 1.5;
    font-weight: lighter;
}
img {
    float: left;
    margin: 15px;
    
}
.container{
    background-color: white;
    border: 1px solid blue;
    padding: 20px;
    width: 60%;
    height: 700px;
    margin: 5% 40% 10% 1%;
}

.container h1 {
    margin: 15px;
    font-family: 'Playfair Display', serif;
    color:#30BBBB ;
}


