/* * {
    box-sizing: border-box;
} */

.navbar-brand {
    background:#30BBBB ;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}

body {
    background-image: url(Assets/Images/ignasi_pattern_s.png);
}
