/* * {
    box-sizing: border-box;
} */
body {
    background-image: url(./Images/ignasi_pattern_s.png);
}

footer {
    min-height: 5vh;
    align-items: center;
    justify-items: center;
}

.navbar-brand {
    background:#30BBBB ;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}

.card-body h1 {
    color: #30BBBB ;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}

#myName {
    color: #fff;
}